#todorokite
  .navbar-nav
    margin-top: 7.5px
    margin-bottom: 0

  @media (max-width: 767px)
    .navbar-nav
      margin-top: 7.5px
      margin-bottom: 0

  .navbar-header
    width: 100%
    text-align: right

  .nav
    li
      display: inline-block

  .dropdown-menu
    min-width: 10px
